* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    padding: 20px;
}

/* Contentbegrenzung */
main,
.add-book,
h1 {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 32px;
}

@media (max-width: 320px) {

    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    body {
        padding: 15px;
    }
}